/* 
    Document   : midiendo
    Created on : 12-08-2012, 12:28:08 PM
    Author     : Chan
    Description:
        Purpose of the stylesheet follows.
*/

article
{
    padding-left: 10px;
}

/* MIDIENDO */

.tabla-midiendo img
{
    width: 150px;
}

.highlighted-list
{
    list-style: none;
}

.highlighted-list ol
{
    margin-left: 20px;
}

.index-list
{
    font-size: 1.2em;
}

/* END MIDIENDO */

/* APLICA */

.div-aplica-izquierdo
{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
}

.div-aplica-medio
{
    display: inline-block;
    width: 500px;
    margin-bottom: 2em;
}

.ie7 .div-aplica-izquierdo
{
    width: 150px;
}

.ie7 .div-aplica-medio
{
    display: inline;
    width: 500px;
}

#lista-aplica
{
    width: 98%;
}

.imagen-vehiculos-validos
{
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* END APLICA */

/* PORQUE ES */

.porque
{
    float: left;
    width: 700px;
}

.imagen-porque
{
    float: right;
    width: 200px;
    margin: 10px;
}

.div-derecho, .div-izquierdo, .div-medio
{
    display: inline-block;
}

.ie7 .div-derecho, .ie7 .div-izquierdo, .ie7 .div-medio
{
    display: inline;
}

.div-derecho
{
    vertical-align: top;
    margin-left: 1em;
}

.div-confecciona-derecho 
{
    width: 700px;
}

.div-confecciona-izquierdo, .div-midiendo-izquierdo
{
    width: 200px;   
}

.div-midiendo-derecho
{
    width: 650px;
}

.div-midiendo-izquierdo
{
    width: 150px;   
}

.div-midiendo-izquierdo img
{
    margin-bottom: 1em;
    margin-top: 1em;
}

.div-quees-medio 
{
    width: 700px;
    padding-left: 10px;
    padding-right: 10px;
}

.div-quees-izquierdo, .div-quees-izquierdo img
{
    width: 150px;   
    margin-bottom: 2em;
    vertical-align: top;
}

.div-quees-derecho
{
    margin-top: 7em;
}

.highlighted-list li, .highlighted-list ol
{
    margin-top: 1em;
}

.section-buscador #page-title
{
    display: none;
}

.section-buscador .wrapper-principal-buscador
{
    width: 100%;
    display: block;
}

.section-buscador .wrapper-principal-buscador .leftsidebar
{
    width: 35%;
    display: inline-block;
    padding: 2% 4%;
    vertical-align: top;
}

.wrapper-principal-buscador .rightsidebar {
  display: inline-block;
  height: 580px;
  padding: 2% 4%;
  vertical-align: top;
  width: 48.7%;
}
.section-buscador .etiqueta-wrapper {
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 9px #e2e2e2;
  padding: 10px 30px 20px;
  width: 100%;
}
.etiqueta-wrapper .etiqueta-header {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  height: 73px;
  width: 99%; 
  background-position: center center;
  background-size: contain;
  
}
.etiqueta-wrapper .etiqueta-body {
  background-position: center center;
   background-repeat: no-repeat;
  background-size: contain;
  height: 230px;
  position: relative;
  width: 100%;
}

.etiqueta-wrapper .etiqueta-bodycomb {
  background-position: center center;
   background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  position: relative;
  width: 100%;
}

.etiqueta-wrapper .etiqueta-footelec {
  background-image: url("../img/elecpie.png");
  background-position: center center;
   background-repeat: no-repeat;
  background-size: contain;
  height: 249px;
  width: 100%;
}

.etiqueta-wrapper .etiqueta-footcomb {
  background-image: url("../img/combpie.png");
  background-position: center center;
   background-repeat: no-repeat;
  background-size: contain;
  height: 249px;
  width: 100%;
}

.etiqueta-wrapper .etiqueta-foothibc {
  background-image: url("../img/hibcpie.png");
  background-position: center center;
   background-repeat: no-repeat;
  background-size: contain;
  height: 249px;
  width: 100%;
}

.etiqueta-wrapper .etiqueta-foothibs {
  background-image: url("../img/hibspie.png");
  background-position: center center;
   background-repeat: no-repeat;
  background-size: contain;
  height: 249px;
  width: 100%;
}


.etiqueta-body .rendimiento {
  background-image: url("../img/combustible.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 98px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 28%;
  background-color: #409941;
}

.etiqueta-body .rendimientohgasolina {
  background-image: url("../img/hibridogasolina.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 98px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 28%;
  background-color: #409941;
}

.etiqueta-body .rendimientohdiesel {
  background-image: url("../img/hdiesel.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 129px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 28%;
  background-color: #409941;
}

.etiqueta-body .rendimientoelectrico {
  background-image: url("../img/electrico.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 129px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 28%;
  background-color: #409941;
}

.etiqueta-body .rendimientoenchufado {
  background-image: url("../img/enchufable.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 129px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 28%;
  background-color: #409941;
}

.etiqueta-body .electricolef {
  height: 89px;
  left: 16px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  bottom: 0;
  width: 32%;
  height: 45px;
  color: white;
  right: 16px;
  background-color: #409941;
  font-size: 13px;
  font-weight: bold;
}

.etiqueta-body .enchufablelef {
  height: 89px;
  left: 16px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  bottom: 51px;
  width: 32%;
  height: 45px;
  color: black;
  right: 16px;
  background-color: #F8E12D;
  font-size: 13px;
  font-weight: bold;
}

.etiqueta-body .electricosololef {
  height: 89px;
  left: 16px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  bottom: 51px;
  width: 28%;
  height: 45px;
  color: white;
  right: 16px;
  background-color: #409941;
  font-weight: bold;
}
form.form-buscador-buscador {
  background-image: url("../img/buscador_home.png");
  height: 140px;
  position: relative;
  width: 336px;
}

.form-buscador-buscador .form-item label {
  display: none;
}

.etiqueta-body .descripcion {
  color: white;
  font-size: 9px;
  height: 65px;
  line-height: 13px;
  padding-left: 10px;
  position: absolute;
  top: 32px;
  width: 61%;
  right: 16px;
  background-color: #11639c;
  font-weight: bold;
}


.etiqueta-body .titleelect {
  color: black;
  background-image: url("../img/elec.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
}


.etiqueta-body .titlehibgc {
  color: black;
  background-image: url("../img/hibgc.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
}

.etiqueta-body .titlehibcd {
  color: black;
  background-image: url("../img/hibcd.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
}

.etiqueta-body .titlehibgs {
  color: black;
  background-image: url("../img/hibgs.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
}

.etiqueta-body .titlehibsd {
  color: black;
  background-image: url("../img/hibsd.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
}

.etiqueta-body .titlecombd {
  color: black;
  background-image: url("../img/combd.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
}

.etiqueta-body .titlecombg {
  color: black;
  background-image: url("../img/combg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
}


.etiqueta-body .combustible {
  color: black;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
  font-weight: bold;
}


.etiqueta-body .title {
  color: black;
  font-size: 12px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 5px !important;
  position: absolute;
  right: 16px;
  top: 0;
  width: 61%;
  height: 30px;
  background-color: #409941;
}

.etiqueta-body .electrico {
  color: black;
  font-size: 20px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 10px !important;
  position: absolute;
  right: 16px;
  bottom: 0;
  width: 61%;
  height: 45px;
  text-align: center;
  background-color: #409941;
  font-weight: bold;
}
 
 .etiqueta-body .enchufable {
  color: black;
  font-size: 20px;
  line-height: 13px;
  padding-left: 10px;
  padding-top: 10px !important;
  position: absolute;
  right: 16px;
  bottom: 51px;
  width: 61%;
  height: 45px;
  text-align: center;
  background-color: #F8E12D;
  font-weight: bold;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     

.etiqueta-body .electricosolo {
  color: black;
  font-size: 20px;
  padding-top: 12px;
  font-weight: bold;
  position: absolute;
  right: 16px;
  bottom: 18px;
  width: 92%;
  height: 50px;
  background-color: #409941;
  text-align: center;
  bottom: 45px;
  font-weight: bold;
}   
.etiqueta-body .carretera, .etiqueta-body .ciudad {
  color: black;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  line-height: 22pt;
  text-align: center;
  background-color: #F8E12D;
  font-weight: bold;
  vertical-align: middle;
}

.etiqueta-body .ciudad {
  bottom: 0;
  height: 97px;
  left:16px;
  position: absolute;
  width: 28%;
  font-weight: bold;
  vertical-align: middle;
}

.etiqueta-body .mixto, .etiqueta-body .ciudad {
  color: black;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  line-height: 22pt;
  text-align: center;
  background-color: #F8E12D;
  bottom: 30px;
  font-weight: bold;
  vertical-align: middle;
}

.etiqueta-body .mixto, .etiqueta-body .ciudad2 {
  color: black;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  line-height: 22pt;
  text-align: center;
  background-color: #F8E12D;
  bottom: 0px;
  font-weight: bold;
  vertical-align: middle;
}


.etiqueta-body .mixto {
  bottom: 68px;
  position: absolute;
  right: 16px;
  text-align: center;
  width: 61%;
 

}

.etiqueta-body .carretera {
  bottom: 30px;
  position: absolute;
  right: 16px;
  text-align: center;
  width: 61%;
}

.etiqueta-body .emisiones {
  color: white;
  font-size: 10.8pt;
  font-weight: bold;
  height: 25px;
  position: absolute;
  right: 16px;
  padding-left: 10px;
  top: 103px;
  width: 61%;
  background-color: #11639c;
  font-weight: bold;
}

.wrapper-principal-buscador .etiqueta-body .mixto2 {
  bottom: 33px;
  height: 33px;
  position: absolute;
  right: 16px;
  text-align: center;
  width: 61%;
}
.wrapper-principal-buscador #buscar-vehiculos-form div#marca_replace-div {
  left: 70px;
  position: absolute;
  top: 44px;
}
.wrapper-principal-buscador #buscar-vehiculos-form div#combustible_replace-div {
  left: 70px;
  position: absolute;
  top: 44px;
  background-color: #00FF40;
}


.wrapper-principal-buscador #buscar-vehiculos-form div#modelo_replace-div {
  left: 70px;
  position: absolute;
  top: 70px;
}
.wrapper-principal-buscador #buscar-vehiculos-form div#tipo_replace-div {
  left: 70px;
  position: absolute;
  top: 97px;
}
.wrapper-principal-buscador form.form-buscador-buscador div select {
  font-size: 11px !important;
  width: 130px;
}
.wrapper-principal-buscador form.form-buscador-buscador #edit-submit.form-submit.ajax-processed {
  background-color: #1d6fb8;
  border: 0 none;
  border-radius: 6px;
  bottom: 12px;
  color: white;
  padding: 1px 8px;
  position: absolute;
  right: 25px;
}
.wrapper-principal-buscador form.form-buscador-buscador div div.form-item {
  margin: 0;
}

#tu-busqueda .header-tu-busqueda {
  background-image: url("../img/tit_tubusqueda.png");
  height: 26px;
  margin-bottom: -20px;
  margin-top: 15px;
  width: 336px;
}

#tu-busqueda .footer-tu-busqueda {
  background-image: url("../img/franja_abajo_tubusqueda.png");
  height: 13px;
  margin-bottom: 5px;
  margin-top: -19px;
  width: 336px;
}
#tu-busqueda .tabla-resultados-etiqueta {
  background-image: url("../img/franja_tubusqueda.png");  
}
#tu-busqueda .tabla-resultados-etiqueta .vehiculo-hover-etiqueta {
  font-size: 12px;
  padding: 5px 18px;
  cursor: pointer;
}
#tu-busqueda .tabla-resultados-etiqueta .vehiculo-hover-etiqueta:hover {
    color: black;
    cursor: pointer;
}
.wrapper-res {
  margin-bottom: 16px;
  margin-top: 20px;
  padding: 10px;
}
.section-buscador form.form-buscador-buscador .ajax-progress.ajax-progress-throbber {
  bottom: 3px;
  font-size: 10px;
  left: 10px;
  position: absolute;
}
#etiqueta_colorbox {
  margin-left: 14px;
  margin-bottom: 5px;
}
.link_hacia_comparador{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.link_hacia_comparador a {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 213px;
}
.espaciociudad {
  height:15px;
}

