<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="img/profileAvatar.jpg">

                <p>
                    <span class="title">Consumo Vehícular</span>
                    <br/>
                    <span class="sub-title"></span>
                </p>
            </div><!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">

            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">
               <!-- <md-subheader class="md-warn">Applicati</md-subheader>-->
                <div class="row menu-item"  ng-click="navigateTo('app.login')">
                   <!-- <div class="col-33">
                        <i class="fa fa-user"></i>
                    </div> -->
                    <div class="col-66">
                        <span>Login</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app.home')">
                   <!-- <div class="col-33">
                        <i class="fa fa-cube"></i>
                    </div> -->
                    <div class="col-66">
                        <span>Home</span>
                    </div>
                </div>
               <!-- <md-subheader class="md-warn">Social Network Connect</md-subheader>-->
                <div class="row menu-item"  ng-click="navigateTo('app.etiquetas')">
                    <!--<div class="col-33">
                        <i class="fa fa-facebook"></i>
                    </div> -->
                    <div class="col-66">
                        <span>Etiquetas</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.comparador')">
                  <!--   <div class="col-33">
                        <i class="fa fa-wordpress"></i>
                    </div> -->
                    <div class="col-66">
                        <span>Comparador</span>
                    </div>
                </div>                
                <div class="row menu-item"  ng-click="navigateTo('app.notifica')">
                   <!-- <div class="col-33">
                        <i class="fa fa-google-plus"></i>
                    </div> -->
                    <div class="col-66">
                        <span>Notifica</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.registro')">
                    <!--<div class="col-33">
                        <i class="fa fa-instagram"></i>
                    </div> -->
                    <div class="col-66">
                        <span>Registro</span>
                    </div>
                </div>

            </div>


            <!--If device is not Android application will present below code.-->
            <!--It will show animation when selecting row.-->
            <md-list ng-if="!isAndroid">
                <!--<md-subheader class="md-warn">Application Storage</md-subheader> -->
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.login')">
                <!--    <i class="fa fa-database"></i> -->
                    <span>Login</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <!--<i class="fa fa-cube"></i> -->
                    <span>Home</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.etiquetas')">
                <!--    <i class="fa fa-facebook"></i> -->
                    <span>Etiquetas</span>
                </md-list-item>                
                <!--<md-subheader class="md-warn">Social Network Connect</md-subheader> -->
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.comparador')">
                <!--    <i class="fa fa-wordpress"></i> -->
                    <span>Comparador</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.notifica')">
                    <!--<i class="fa fa-google-plus"></i> -->
                    <span>Notifica</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.registro')">
<!--                    <i class="fa fa-instagram"></i> -->
                    <span>Registro</span>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
