<!--View Information-->
<ion-view title="">
    <ion-view hide-nav-bar="false" disable-nav-bar="false">
    <!--user interface section-->
    <ion-slide-box id="user-interface-content" active-slide="0">        
        <ion-slide class="slide-01">
            <!--<form name="contractForm">
                <ion-content id="default-input-content"> -->
            <div style="text-align:right">                
                <img ng-src="img/rojo_azul.png" class="md-card-image" alt="Card image" src="img/rojo_azul.png">
            </div> 
            <div class="home-www">www.consumovehicular.cl</div>
            <div class="tambien_login">Información oficial del sistema de etiquetado de eficiencia energética vehicular</div>  
            <div style="text-align:center;margin-bottom:12%;margin-top:10%;">
                <img src="img/img1.png" alt="imgppal" class="imgppal">
            </div>
            <div style="text-align:center;margin-bottom:5%;">
                    <md-button class="md-raised social-default-button btn-login-ingresar"
                        ng-click="navigateTo('app.etiquetas')">Comencemos   ></md-button>
            </div>                                                                                  
            <div style="text-align:right;margin-top:5%;margin-right:5%"> 
                <img ng-src="img/rojo_azul_footer.png" class="md-card-image" alt="Card image" src="img/rojo_azul_footer.png">
            </div>    
               <!-- </ion-content>
            </form>-->
        </ion-slide>

        <ion-slide class="slide-01">
           <!-- <form name="contractForm">
                <ion-content id="default-input-content">-->
            <div style="text-align:right">                
                <img ng-src="img/rojo_azul.png" class="md-card-image" alt="Card image" src="img/rojo_azul.png">
            </div> 
            <br/>
            <p class="tambien_login">En esta aplicación podrás encontrar las etiquetas de los vehículos nuevos, podrás notificar
            la falta de etiquetas en puntos de venta y comparar vehículos nuevos a través de su rendimiento energético.</p>  
            <div class="rectangle_home2">
                    <md-list-item class="row md-no-proxy" role="listitem">
                        <div class="col-30 title home2-Modulos">Módulos:</div>
                    </md-list-item>
                    <md-divider class="md-default-theme"></md-divider>
                    <md-list-item class="row md-no-proxy" role="listitem">
                        <div class="col-30">
                        <img src="img/icono-etiqueta_consumo_vehicular2.png" alt="etiqeta" style="margin-top:5%;">
                        </div>
                        <div class="col-70">
                            <p style="margin-left:5%;" class="title home2-Modulos">Etiquetas</p>
                            <p class="textos_home2">   
                                Aquí podrás encontrar las etiquetas con información de rendimiento energético y emisiones de
                                CO2 de los vehículos nuevos que estés cotizando
                            </p>
                        </div>
                    </md-list-item>
                    <md-divider class="md-default-theme"></md-divider>
                    <md-list-item class="row md-no-proxy" role="listitem">
                        <div class="col-30">
                        <img src="img/icono-comparador_consumo_vehicular2.png" alt="comparador" style="margin-top:5%;">
                        </div>
                        <div class="col-70">
                            <p style="margin-left:5%" class="home2-Modulos">Comparador</p>
                            <p class="textos_home2">   
                            Compara dos vehículos en cuanto a su eficiencia energética y gasto anual en consumo de energía.
                            </p>
                        </div>
                    </md-list-item>
                    <md-divider class="md-default-theme"></md-divider>
                    <md-list-item class="row md-no-proxy" role="listitem">
                        <div class="col-30">
                        <img src="img/icono-notifica_consumo_vehicular2.png" alt="notifica" style="margin-top:5%;">
                        </div>
                        <div class="col-70">
                            <p style="margin-left:5%" class="home2-Modulos">Notifica</p>                    
                            <p class="textos_home2">
                            Si encuentra alguna deficiencia respecto a las etiquetas en algún punto de venta, notifica de ello
                            al Ministerio de Energía.
                            </p>
                        </div>
                    </md-list-item>            
            </div>
            <div style="text-align:center;margin-bottom:5%;margin-top:5%;">
                    <md-button class="md-raised social-default-button btn-login-ingresar" 
                        ng-click="navigateTo('app.etiquetas')">Comencemos   ></md-button>
            </div>                                                                                              
            <!--     </ion-content>
            </form> -->
        </ion-slide>
        <!--end slide section-->
    </ion-slide-box>  <!--end user interface section-->

</ion-view>

<!--angular template section-->
<script type="text/ng-template" id="ui-list-bottom-sheet-template">
    <md-bottom-sheet class="md-list md-has-header">
        <h1 class="md-bottom-sheet-header">List Bottom Sheet</h1>
        <!--list section-->
        <md-list>
            <md-list-item>
                <a class="md-default-theme md-bottom-sheet-list-item"
                   ng-click="closeListBottomSheet()">
                    <i class="ion-android-call"></i>
                    <span>Actions 1</span>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-default-theme md-bottom-sheet-list-item"
                   ng-click="closeListBottomSheet()">
                    <i class="ion-android-list"></i>
                    <span>Actions 2</span>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-default-theme md-bottom-sheet-list-item"
                   ng-click="closeListBottomSheet()">
                    <i class="ion-android-delete"></i>
                    <span>Actions 3</span>
                </a>
            </md-list-item>
        </md-list>

        <!--end list section-->
    </md-bottom-sheet>
</script>


<!--end angular template section-->