<ion-view view-title="Mi Perfil">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="rectangle_home2">
            <div class="hero slide-up" style="background-image: url('img/login.jpg');">
                <div class="content">
                    <p class="home2-Modulos">{{user.fullname}}</p>
                    <!--<h3><a class="light">{{user.fullname}}</a></h3> -->
                    <!--<h4>{{user.mail}}</h4>-->
                    <span class="tambien_login">{{user.mail}}</span>
                </div>
            </div>
       
            <h4 class="content padding double-padding-x">Mis Datos</h4>
            <label class="item item-input item-stacked-label">
                        <span class="input-label">Nombre completo</span>
                        <input placeholder="" name="litros" highlight-color="balanced" type="text" ng-model="user.fullname"></input>
                    </label>
            <!--<div  class="row">
                <md-button class="col-20"></md-button>
                <md-button class="col-40 btn-login-ingresar icon-left ion-document "  ng-click="savechange()">       Guardar       </md-button>
                <md-button class="col-20" ></md-button>
            </div>-->
            <div style="text-align:center;">
                <md-button class="md-raised social-default-button btn-login-ingresar"  ng-click="savechange()">Guardar</md-button>
            </div>
            <!-- <div class="col button button-calm-900 ink balanced" ng-click="savechange()">Guardar</div> -->
            <div class="button-bar social-login">
                <button class="button button-small button-border icon-left  button-positive-900" ng-click="navigateTo('app.etiquetas')">Volver</button>
                
                <button class="button button-small button-border  button-assertive-900" ng-click="logout()">Salir</button>
            </div>
              
        </div>
    </ion-content>
</ion-view>
