<div class="modal image-modal transparent" ng-click="closeModal()">
                  <div class="etiqueta-wrapper">
          <div class="etiqueta-header">

          </div>
<!--  "Eléctrico/Híbrido",
  idEtiqueta=='COMBUSTION INTERNA DIESEL',
  ""COMBUSTION INTERNA GASOLINA"",
  ""HIBRIDO CON RECARGA EXTERIOR DIESEL"",
  ""HIBRIDO DIESEL"",
  ""HIBRIDO GASOLINA"",
  ""HIBRIDO CON RECARGA EXTERIOR GASOLINA"",
  "Eléctrico"
-->
          <div class="etiqueta-body">
          <div class="row">
            <div class="col">
              <div class="{{car.idEtiqueta=='ELECTRICO PURO ' ? 'rendimientoelectrico' : car.idEtiqueta=='COMBUSTION INTERNA GASOLINA' || car.idEtiqueta=='COMBUSTION INTERNA DIESEL' ? 'rendimiento' :  car.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR DIESEL' || car.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR GASOLINA' ? 'rendimientoenchufado' : car.idEtiqueta=='HIBRIDO SIN RECARGA EXTERIOR DIESEL DIESEL'  ? 'rendimientohdiesel' : 'rendimientohgasolina'}}"></div>

            </div>
            <div class="col">
                <div class="{{etiqueta.titulo}}">
                  
                </div>
                <div class="descripcion">
                <div class="marca">
                  Marca: <span id="etiqueta-marca">{{car.nombreMarca}}</span>
                </div>
                <div class="modelo">
                  Modelo: <span id="etiqueta-modelo">{{car.nombreModelo}} {{car.cilindrada}} {{car.tipoVehiculo}} {{car.transmision=="A" ? 'Automatico' : 'Manual'}}</span>
                </div>
                <div class="normaemision">Norma de emisión: <span id="etiqueta-norma">{{car.norma}}</span>
                </div>
                <div class="codigo">Código de informe técnico: <span id="etiqueta-codigo"> {{car.codigoInformeTecnico}}</span>
                </div>
              
              </div>
            </div>
            </div>
           
          <div class="row" ng-show="car.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR DIESEL' || car.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR GASOLINA'">
              <div class="col">
                 <div class="emisiones">
                  <div class="te">
                      Emisiones de CO<sub>2</sub> <span id="etiqueta-co2">{{car.co2==""?"0":car.co2}}</span> g/km
                    </div>
                </div>
              </div>
          </div>
            <div class="row" ng-show="car.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR DIESEL' || car.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR GASOLINA'">
              <div class="col">
                <div class="enchufablelef">
                     Rendimiento <br> de combustible
                </div>
              </div>
              <div class="col">
                <div class="enchufable">
                     <span id="etiqueta-enchufable">{{car.rendimientoPonderadoCombustible| number:1}}</span> km/l
                </div>
              </div>
          </div>
            <div class="row" ng-show="car.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR DIESEL' || car.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR GASOLINA'">
              <div class="col">
                <div class="electricolef">
                     Rendimiento eléctrico
                </div>
              </div>
              <div class="col">
                <div class="electrico">
                     <span id="etiqueta-electrico">{{car.rendimientoPonderadoElectrico| number:1}}</span> km/kWh
                </div>
              </div>
          </div>
          <div class="row" ng-show="car.idEtiqueta=='ELECTRICO PURO '">
            <div class="emisiones">
                  <div class="te">
                      Emisiones de CO<sub>2</sub> <span id="etiqueta-co2">{{car.co2}}</span> g/km
                    </div>
                </div>
          </div>
           <div class="row" ng-show="car.idEtiqueta=='ELECTRICO PURO '">
              <div class="col">
                <div class="electricosolo">
                     <span id="etiqueta-electrico">{{car.rendimientoElectrico| number:1}}</span> km/kWh
                </div>
              </div>
          </div>
            <div class="row" ng-show="car.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL' && car.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car.idEtiqueta!='ELECTRICO PURO '">
              <div class="col">
                <div class="ciudad">
                  <div class="te">
                     Ciudad <br><span id="etiqueta-ciudad">{{car.rendimientoUrbano| number:1}}</span> km/l
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="emisiones">
                  <div class="te">
                      Emisiones de CO<sub>2</sub> <span id="etiqueta-co2">{{car.co2}}</span> g/km
                    </div>
                </div>
                <div class="mixto">
                  <div class="te">
                      Mixto <span id="etiqueta-mixto">{{car.rendimientoMixto| number:1}}</span> km/l
                    </div>
                </div>
                <div class="carretera">
                    <div class="te">
                      Carretera <span id="etiqueta-carretera">{{car.rendimientoCarretera | number:1}}</span> km/l
                    </div>
                </div>
              </div>
          </div>
        </div>
          <div class="row">
            <div class="col">
            <div class="{{etiqueta.pie}}">

            </div>
            </div>
          </div>
      
              </div>
</div>