
<div class="modal image-modal " style="background-color: transparent;">
<ion-view view-title="Notificaciones" style="background-color: transparent;">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background-color: transparent;vertical-align: bottom;position: absolute;top: 37%;">
        <div class="rectangle_home2" style="opacity: 1;">
            <div class="row">  
                <div >
                <label class="item item-input" style="background-color: white !important;font-size:9px !important;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap;     word-wrap: break-word;text-align: center;">*Para calcular el gasto anual se asumieron los siguientes valores de recorrido y precio de los energético. Si quieres personalizar este cálculo modifica los valores a continuación. 
                </label>
            </div>
            </div>
                   <div class="row">  
                  <div class="col">
                  <label class="item item-input">
                    <span class="input-label"><h3>{{paramCompare[0].Nombre}} : </h3></span>
                  </label>
                  </div>
                  <div class="col">
                  <label class="item item-input">
                    <input  placeholder="" highlight-color="balanced" type="number" ng-model="paramCompare[0].Valor"></input>
                  </label>
                  </div>
                </div>
                <div class="row">  
                  <div class="col">
                  <label class="item item-input">
                    <span class="input-label"><h3>{{paramCompare[1].Nombre}} : </h3></span>
                  </label>
                  </div>
                  <div class="col">
                  <label class="item item-input">
                    <input placeholder=""  highlight-color="balanced" type="number" ng-model="paramCompare[1].Valor"></input>
                  </label>
                  </div>
                </div>
                <div class="row">  
                  <div class="col">
                  <label class="item item-input">
                    <span class="input-label"><h3>{{paramCompare[2].Nombre}} : </h3></span>
                  </label>
                  </div>
                  <div class="col">
                  <label class="item item-input">
                   <input placeholder=""  highlight-color="balanced" type="number" ng-model="paramCompare[2].Valor"></input>
                  </label>
                  </div>
                </div>
                <div class="row">  
                  <div class="col">
                  <label class="item item-input">
                    <span class="input-label"><h3>{{paramCompare[5].Nombre}} : </h5></span>
                  </label>
                  </div>
                  <div class="col">
                  <label class="item item-input">
                   <input placeholder=""  highlight-color="balanced" type="number" ng-model="paramCompare[5].Valor"></input>
                  </label>
                  </div>
                </div>
            <div class="row">    
                <div class="col-50" style="text-align: center;">
                    <md-button style="min-width: 80%;text-align: center;border: 1px solid #d6d6d6" class="btn-cancelar" ng-click="closeModalG()">Cancelar</md-button>
                </div>
                <div class="col-50" style="text-align: center;">
                    <md-button style="min-width: 80%;text-align: center;" class="btn-login-ingresar" ng-click="Calcular()">Calcular</md-button>
                </div>
            </div>                                                                                                  
        </div>    
        </div>    
        </ion-content>
    </ion-view>
</div>