
<div class="modal image-modal " >
<ion-view view-title="Notificaciones" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">
                  <ion-pane class="transparent">
                     <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
                  </ion-pane>
                  <ion-item ng-repeat="lst in lstcars" 
                          item="item"
                           class="item-remove-animate">
                  <div class="row">
                    
                        <div class="col button-calm"><h4>Marca. </h4></div>
                        <div class="col button-calm"><h4>Modelo</h4></div> 
                        <div class="col button-calm"><h4>Cc </h4></div> 
                      </div>

                      <div class="row">
                        <div class="col button-dark"><h4>{{lst.nombreMarca}} </h4></div>
                        <div class="col button-dark "><h4>{{lst.nombreModelo}}</h4></div>
                        <div class="col button-dark" ><h4>{{lst.cilindrada.toString().replace('.',',')}}</h4></div>
                      </div>
                      <div class="row">
                        <div class="col button-calm"><h4>Tipo. </h4></div>
                        <div class="col button-calm"><h4>Transmision.</h4></div> 
                        <div class="col button-calm"><h4>Tracción.</h4></div> 
                      </div>

                      <div class="row">
                        <div class="col button-dark"><h4>{{lst.tipoVehiculo}} </h4></div>
                        <div class="col button-dark "><h4>{{lst.traccion=="A" ? 'Automatico' : 'Manual'}}</h4></div>
                        <div class="col button-dark" ><h4>{{lst.traccion}}</h4></div>
                      </div>
                       <div class="row">
                        <div class="col button-calm"><h4>Propulsión.</h4></div> 
                      </div>

                      <div class="row">
                        <div class="col button-dark"><h4>{{lst.nombreEtiqueta}}</h4></div>
                      </div>
                  <div class="row">
                    <div class="button-bar">
                      <button ng-click = "closeModalCars(lst)" class="button button-small button-border icon-left ion-pie-graph button-calm-900">Seleccionar</button>
                    </div>
                  </div>
                  
                  
                  
                </ion-item>
        </ion-content>
    </ion-view>
</div>