<!--View Information-->
<ion-view>    
    <ion-nav-back-button></ion-nav-back-button>
    <ion-view hide-nav-bar="true" disable-nav-bar="true">
 <ion-content>
    <form>
        <div class="rectangle_etiquetas">
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30">
                    <img style="width:70%; height:70%;" src="img/car_icon.png" alt="etiqeta">
                </div>
                <div class="col-60">
                    <p class="etiqueta_title">Consumo Vehicular</p>
                </div>
                <div class="col-10">
                    <md-button ng-click="navigateTo('app.perfil')"> <md-icon  class="fa fa-user iconos_etiqueta"></md-icon></md-button>
                </div>
            </md-list-item>
        </div>

        <div class="rectangle_menu">
          <md-button class="boton_etiqueta_inactive"   ng-click="navigateTo('app.etiquetas')">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-etiqueta.png" alt="eti_icon"></md-icon>
            Etiquetas
          </md-button>
          <md-button class="boton_comparador_active">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-comparador_consumo_vehicular2.png" alt="com_icon"></md-icon>
                Comparador
          </md-button>
          <md-button class="boton_notifica_inactive"   ng-click="navigateTo('app.notifica')">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-notifica_consumo_vehicular.png" alt="noti_icon"></md-icon>
                Notifica
          </md-button>
        </div>   

    <div class="rectangle_home2">
        <span class="home2-Modulos">Comparador de Vehículos</span>
            <md-tabs>
                <md-tab label="Vehículo 1" >                  
                    <!-- ESTO ES EL TAB 1 -->
                        <span class="tambien_login">Marca:</span>
                        <div style="margin-left:5%;" class="col-70">
                            <md-select ng-model="marca" placeholder="Seleccione..." ng-change="loadModelo(marca)">
                                <md-option ng-value="marca" ng-repeat="marca in marcas">{{ marca.nombre }}</md-option>
                            </md-select>                                       
                        </div>    
                        <span class="tambien_login">Modelo:</span>
                        <div style="margin-left:5%;" class="col-70">
                            <md-select ng-model="modelo" placeholder="Seleccione..." ng-change="GetCars(modelo)">
                                <md-option ng-value="modelo" ng-repeat="modelo in modelos">{{ modelo.nombre }}</md-option>
                            </md-select>                                       
                        </div>    
                         <span class="tambien_login">Propulsión:</span>
                        <div style="margin-left:5%;" class="col-70">
                            <md-select ng-model="propulsion" placeholder="Seleccione..."  ng-change="Filtrar(propulsion)">
                                <md-option ng-value="propulsion" ng-repeat="propulsion in combustible">{{ propulsion.nombre }}</md-option>
                            </md-select>                                       
                        </div>                                 
                </md-tab>
                <!-- FIN DEL TAB 1 -->
                <md-tab label="Vehículo 2">
                    <md-content>
                    <!-- ESTO ES EL TAB 2 -->
                        <span class="tambien_login">Marca:</span>
                        <div style="margin-left:5%;" class="col-70">
                            <md-select ng-model="marca2" placeholder="Seleccione..." ng-change="loadModelo2(marca2)">
                                <md-option ng-value="marca2" ng-repeat="marca2 in marcas2">{{ marca2.nombre }}</md-option>
                            </md-select>                                       
                        </div>    
                        <span class="tambien_login">Modelo:</span>
                        <div style="margin-left:5%;" class="col-70">
                            <md-select ng-model="modelo2" placeholder="Seleccione..." ng-change="GetCars2(modelo2)">
                                <md-option ng-value="modelo2" ng-repeat="modelo2 in modelos2">{{ modelo2.nombre }}</md-option>
                            </md-select>                                       
                        </div>    
                        <span class="tambien_login">Propulsión:</span>
                        <div style="margin-left:5%;" class="col-70">
                            <md-select ng-model="propulsion2" placeholder="Seleccione..."  ng-change="Filtrar2(propulsion2)">
                                <md-option ng-value="propulsion2" ng-repeat="propulsion2 in combustible2">{{ propulsion2.nombre }}</md-option>
                            </md-select>                                       
                        </div>                           
                    </md-content>
                </md-tab>
                <!-- FIN DEL TAB 2 -->                        
        </md-tabs>
    </div>

    <div class="rectangle_home2">
          <div >
              <div class="row" style="height:auto;padding:0 0 0 0 !important;">
                  <div class="col-33" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;"></div>  
                  <div class="col-33 header_table_comparador" style="border: 1px solid #ffffff;">{{ car1.marca }} {{ car1.detalle }} </div>  
                   <div class="col-33 header_table_comparador" style="border: 1px solid #ffffff;">{{ car2.marca }} {{ car2.detalle }}</div>                     
              </div>
         </div>
    <!--<div ng-show="(car1.idEtiqueta!='ELECTRICO PURO '  && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL') || (car2.idEtiqueta!='ELECTRICO PURO '  && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL')" >-->
         <div ng-show="(car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL') || (car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL')" class="cuadro_gris_comparador" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;">Rendimiento</div>
         <div ng-show="(car1.idEtiqueta!='ELECTRICO PURO '  && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL') || (car2.idEtiqueta!='ELECTRICO PURO '  && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL')" class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;">
            <div class="col-33" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;">&nbsp; Ciudad:</div>
            <div class="col-33"  style=" text-align: center;border: 1px solid #d6d6d6;" > {{ car1.rendimientoUrbano | number:2 }} {{ car1.rendimientoUrbano > 0 ? 'km/l' : '-'}}</div>
            <div class="col-33"style=" text-align: center;border: 1px solid #d6d6d6;" > {{car2.rendimientoUrbano | number:2 }} {{ car2.rendimientoUrbano > 0 ? 'km/l' : '-'}} </div>
        </div>            
        <div  ng-show="(car1.idEtiqueta!='ELECTRICO PURO '  && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL') || (car2.idEtiqueta!='ELECTRICO PURO '  && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL')" class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
            <div class="col-33" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;">&nbsp; Carretera:</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;"> {{car1.rendimientoCarretera  | number:2}} {{ car1.rendimientoCarretera > 0 ? 'km/l' : '-'}}</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;"> {{car2.rendimientoCarretera | number:2 }} {{ car2.rendimientoCarretera > 0 ? 'km/l' : '-'}}</div>        
        </div>    
        <div ng-show="(car1.idEtiqueta!='ELECTRICO PURO '  && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car1.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL') || (car2.idEtiqueta!='ELECTRICO PURO '  && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR GASOLINA' && car2.idEtiqueta!='HIBRIDO CON RECARGA EXTERIOR DIESEL')" class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
            <div class="col-33" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6; ">&nbsp; Mixto:</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">   {{car1.rendimientoMixto | number:2  }} {{ car1.rendimientoMixto > 0 ? 'km/l' : '-'}}</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;" >  {{car2.rendimientoMixto | number:2  }} {{ car2.rendimientoMixto > 0 ? 'km/l' : '-'}}</div>                
       </div>
       <div ng-show="car1.idEtiqueta=='ELECTRICO PURO ' ||  car2.idEtiqueta=='ELECTRICO PURO ' " class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
             <div class="col-33" style="background-color: rgb(239, 239, 239) !important;  border: 1px solid #d6d6d6;">&nbsp; Eléctrico:</div>
             <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{car1.rendimientoElectrico | number:2}} {{ car1.rendimientoElectrico > 0 ? 'km/kwh' : '-'}} </div>
             <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{car2.rendimientoElectrico | number:2}} {{ car2.rendimientoElectrico > 0 ? 'km/kwh' : '-'}} </div>        
        </div>    
    <!-- </div> -->
    <!--<div ng-show="car1.idEtiqueta=='ELECTRICO PURO ' ||  car2.idEtiqueta=='ELECTRICO PURO ' ">
        <div  class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
             <div class="col-33" style="background-color: rgb(239, 239, 239) !important;  border: 1px solid #d6d6d6;">&nbsp; Eléctrico:</div>
             <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{car1.rendimientoElectrico}} {{ car1.rendimientoElectrico > 0 ? 'km/kwh' : '-'}} </div>
             <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{car2.rendimientoElectrico}} {{ car2.rendimientoElectrico > 0 ? 'km/kwh' : '-'}} </div>        
        </div>           
    </div>-->
    <div ng-show="(car1.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR GASOLINA' || car1.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR DIESEL') || (car2.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR GASOLINA' || car2.idEtiqueta=='HIBRIDO CON RECARGA EXTERIOR DIESEL') ">
       <div class="cuadro_gris_comparador">Rendimiento Ponderado</div>
         <div  class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
            <div class="col-33" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;">&nbsp; Combustible:</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;"> {{car1.rendimientoPonderadoCombustible | number:2 }} {{ car1.rendimientoPonderadoCombustible > 0 ? 'km/l' : '-'}}</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;"> {{car2.rendimientoPonderadoCombustible| number:2}} {{ car2.rendimientoPonderadoCombustible > 0 ? 'km/l' : '-'}}</div>
        </div>
        <div  class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
             <div class="col-33" style="background-color: rgb(239, 239, 239) !important;  border: 1px solid #d6d6d6;">&nbsp; Eléctrico:</div>
             <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{car1.rendimientoPonderadoElectrico| number:0}} {{ car1.rendimientoPonderadoElectrico > 0 ? 'km/kwh' : '-'}} </div>
             <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{car2.rendimientoPonderadoElectrico| number:0}} {{ car2.rendimientoPonderadoElectrico > 0 ? 'km/kwh' : '-'}} </div>        
        </div>           
    </div>
    
        <!--<div style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;">Gastos
            <div class="col-33"></div>   
            <div class="col-33"><md-button class="btn-login-ingresar icon-right ion-gear-b" ng-click="gastosConf()"></md-button></div>
                         
        </div>
        <div  class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
             <div class="col-33" style="background-color: rgb(239, 239, 239) !important;  border: 1px solid #d6d6d6;">Eléctrico:</div>
             <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{car1.rendimientoElectrico}} {{car1.rendimientoPonderadoElectrico| number:0}} km/kwh </div>
             <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{car2.rendimientoElectrico}} {{car2.rendimientoPonderadoElectrico| number:0}} km/kwh </div>        
        </div> -->
        <div  class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
            <div class="col-33" style="background-color: rgb(239, 239, 239) !important;border: 1px solid #d6d6d6;"></div>
            <div class="col-56" style=" text-align: center;border: 1px solid #d6d6d6; width:100%">Gastos</div>
            <div class="col-10" style=" text-align: left; padding: 0 0 0 0 !important;border: 0px solid #d6d6d6;">
                <md-button class="btn-conf-gasto icon-right icono_gasto ion-gear-b" ng-click="gastosConf()"></md-button>
            </div>        
        </div>
        <div  class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
            <div class="col-33" style="background-color: rgb(239, 239, 239) !important;border: 1px solid #d6d6d6;">&nbsp; Energía:</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{ car1.rendimientoPonderadoCombustibleA > 0 ? '$' : ''}} {{car1.rendimientoPonderadoCombustibleA | number:0}} al año</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;">{{ car2.rendimientoPonderadoCombustibleA > 0 ? '$' : ''}} {{car2.rendimientoPonderadoCombustibleA | number:0}} al año</div>        
        </div>       
        <div  class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
            <div class="col-33" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;">&nbsp; Adicional:
               <md-button class="icon-right ion-help-circled " style="height:5px" ng-click="showAditional()"></md-button>
            </div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;"> {{ gastosAdicionalesCar1 > 0 ? '$' : ''}} {{gastosAdicionalesCar1 | number:0}} {{ gastosAdicionalesCar1 > 0 ? 'al año' : ''}}</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;"> {{ gastosAdicionalesCar2 > 0 ? '$' : ''}} {{gastosAdicionalesCar2 | number:0}} {{ gastosAdicionalesCar2 > 0 ? 'al año' : ''}}</div>        
        </div>
            
        <div class="cuadro_gris_comparador" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;">Emisiones</div>
         <div  class="row" style="font-size:9px !important;padding: 0 0 0 0 !important; border: 1px solid #d6d6d6;" >
            <div class="col-33" style="background-color: rgb(239, 239, 239) !important; border: 1px solid #d6d6d6;">&nbsp; CO<sub>2</sub>:</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;"> {{car1.tnco2 | number:0}} {{ car1.tnco2 >= 0 ? 'ton/año' : ''}}</div>
            <div class="col-33" style=" text-align: center;border: 1px solid #d6d6d6;"> {{car2.tnco2 | number:0}} {{ car2.tnco2 >= 0 ? 'ton/año' : ''}}</div>
        </div>        
        </br>
        <div class="row">    
                <div class="col-33">

                </div>
                <div class="col-33">
                    <md-button class="btn-login-ingresar icon-left ion-document " ng-click="SearchLabel(car1)">&nbsp; Ver Etiqueta</md-button>
                </div>
                <div class="col-33">
                    <md-button class="btn-login-ingresar icon-left ion-document " ng-click="SearchLabel(car2)">&nbsp; Ver Etiqueta</md-button>
                </div>
            </div>                                                                                                  
        </div>                                                                                                      
    </div>       <!-- FIN DEL RECUADRO BLANCO -->
        

         
               
        </ion-item>                                                                                     
    </div>
        <div style="text-align:right">                
          <img ng-src="img/rojo_azul.png" class="md-card-image" alt="Card image" src="img/rojo_azul.png">
         </div> 
    </form> 
    </ion-content>

</ion-view>


