
<div class="modal image-modal " >
<ion-view view-title="Notificaciones" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">
                  <ion-pane class="transparent">
                     <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
                  </ion-pane>
                  <ion-item ng-repeat="lst in lstcars" 
                          item="item"
                           class="item-remove-animate">
                                           <div class="row">
                  <div class="header_table_etiqueta">
                          <span>{{lst.detalle}}</span>
                  </div>
                </div>  

                <div class="row">
                    
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Carrocería</div>
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Cilindrada</div>
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Transmisión</div>
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Tracción</div>
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Propulsión</div>
                 </div>
                <div style="font-size:9px !important;" class="row">
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word; text-align: center;">{{lst.tipoVehiculo}}</div>
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;text-align: center;">{{lst.cilindrada.toString().replace('.',',')}}</div>
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;text-align: center;">{{lst.transmision=="A" ? 'Automatico' : 'Manual'}}</div>
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;text-align: center;">{{lst.traccion}}</div>
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;text-align: center;">{{lst.nombreEtiqueta}}</div>
                </div>   
                </br>

                  <div class="row">
                     <div style=" width:20%">
                     </div>
                    <div style=" width:40%">
                      <button ng-click = "closeModalCars(lst)" class="md-raised social-default-button btn-login-ingresar md-button md-default-theme icon-left ion-pie-graph button-calm-900">Seleccionar</button>
                    </div>
                    <div style=" width:30%">
                     </div>
 
                  </div>
                  
                  
                  
                </ion-item>
        </ion-content>
    </ion-view>
</div>