<!--View Information-->

<ion-view  view-title="Consumo Vehícular">    
    <ion-nav-back-button></ion-nav-back-button>
    <ion-view hide-nav-bar="true" disable-nav-bar="true">
 <ion-content>
    <form>
        <div class="rectangle_etiquetas">
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30">
                    <img style="width:70%; height:70%;" src="img/car_icon.png" alt="etiqeta">
                </div>
                <div class="col-60">
                    <p class="etiqueta_title">Consumo Vehicular</p>
                </div>
                <div class="col-10">
                    <md-button ng-click="navigateTo('app.perfil')"> <md-icon  class="fa fa-user iconos_etiqueta"></md-icon></md-button>
                </div>
            </md-list-item>
        </div>

        <div class="rectangle_menu">
          <md-button class="boton_etiqueta_active">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-etiqueta.png" alt="eti_icon"></md-icon>
            Etiquetas
          </md-button>
          <md-button class="boton_comparador_inactive"  ng-click="navigateTo('app.comparador')">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-comparador_consumo_vehicular2.png" alt="com_icon"></md-icon>
                Comparador
          </md-button>
          <md-button class="boton_notifica_inactive"  ng-click="navigateTo('app.notifica')">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-notifica_consumo_vehicular.png" alt="noti_icon"></md-icon>
                Notifica
          </md-button>
        </div>   
    <div id="container" class="rectangle_home2">
        <p class="home2-Modulos">Visualizador de Etiquetas</p>
        <span class="tambien_login">Marca:</span>
            <div style="margin-left:5%;" class="col-70">
                <md-select ng-model="marca" placeholder="Seleccione..." ng-change="loadModelo(marca)">
                        <md-option ng-value="marca" ng-repeat="marca in marcas">{{ marca.nombre }}</md-option>
                </md-select>
            </div>    
        <span class="tambien_login">Modelo:</span>
        <div style="margin-left:5%;" class="col-70">
            <md-select ng-model="modelo" placeholder="Seleccione..." ng-change="GetCars(modelo)">
                <md-option ng-value="modelo" ng-repeat="modelo in modelos">{{ modelo.nombre }}</md-option>
            </md-select>                                       
        </div>    
        <span class="tambien_login">Propulsión:</span>
        <div style="margin-left:5%;" class="col-70">
            <md-select ng-model="propulsion" placeholder="Seleccione..."  ng-change="Filtrar(propulsion)">
                <md-option ng-value="propulsion" ng-repeat="propulsion in combustibles">{{ propulsion.nombre }}</md-option>
            </md-select>                                       
        </div>   
    </div>

    <div class="rectangle_home2">
        <!--<p class="etiqueta-subtitle">{{lst.nombreMarca}} {{lst.nombreModelo}}</p>-->
        <span class="etiqueta-subtitle">{{ marca.nombre }} {{ modelo.nombre }}</span>
        <ion-item  class="item-remove-animate" ng-repeat="lst in cars" ng-click="saveCars(lst)">
            <div class="row">
                <div class="header_table_etiqueta">
                     {{ lst.detalle}}
                </div>
                </div> 
                <div class="row">
                    
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Carrocería</div>
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Cilindrada</div>
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Transmisión</div>
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Tracción</div>
                    <div class="col-20" style="background-color: rgb(239, 239, 239) !important;font-size:9px !important; border: 1px solid #d6d6d6;text-align: center;">Propulsión</div>
                 </div>
                <div style="font-size:9px !important;" class="row">
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word; text-align: center;">{{lst.tipoVehiculo}}</div>
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;text-align: center;">{{lst.cilindrada.toString().replace('.',',')}}</div>
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;text-align: center;">{{lst.transmision=="A" ? 'Automatico' : 'Manual'}}</div>
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;text-align: center;">{{lst.traccion}}</div>
                    <div class="col-20" style="background-color: white !important;font-size:9px !important; border: 1px solid #d6d6d6;float: left;white-space: pre;white-space: pre-wrap;white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;text-align: center;">{{lst.nombreEtiqueta}}</div>
                </div>   
                <div  class="row">
                    <md-button class="col-20"></md-button>
                    <md-button class="col-40 btn-login-ingresar icon-left ion-document "  ng-click="SearchLabel(lst)"> Consultar Etiqueta</md-button>
                     <md-button class="col-20" ></md-button>
                </div>    
              </div>              
        </ion-item>
                                                                                                 
    </div>
        <div style="text-align:right">                
          <img ng-src="img/rojo_azul.png" class="md-card-image" alt="Card image" src="img/rojo_azul.png">
         </div> 
    </form> 
    </ion-content>

</ion-view>
