<ion-view view-title="Login" align-title="left">
    <ion-content >
        <div class="rectangle_etiquetas">
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30">
                    <img style="width:70%; height:70%;" src="img/car_icon.png" alt="etiqeta">
                </div>
                <div class="col-70">
                    <p class="etiqueta_title">Consumo Vehicular</p>
                </div>
            </md-list-item>
        </div>        
        <!--<div class="hero flat">
            <div class="content">
                <h1t>Registro</h1t>
            </div>
        </div> -->

<div class="rectangle_home2">
        <span class="home2-Modulos">Registro</span>
        <div style="margin-top:3% !important;">
                <md-input-container>
                    <span class="inputs_reg_recu">Nombre Completo</span>
                    <div>
                        <input class="inputs_reg_recu" name="litros" ng-model="registro.fullname">
                    </div>    
                </md-input-container>

                <md-input-container>
                    <span class="inputs_reg_recu">Email</span>
                    <input class="inputs_reg_recu" type="email" name="litros"  ng-model="registro.mail">
                </md-input-container>       

                <md-input-container>
                    <span class="inputs_reg_recu">Contraseña</span>                    
                    <input class="inputs_reg_recu" type="password" name="litros" type="password"  ng-model="registro.pass">
                </md-input-container>       

                <md-input-container>
                    <span class="inputs_reg_recu">Confirmar contraseña</span>                    
                    <input class="inputs_reg_recu" name="litros" type="password" ng-model="registro.passc">
                </md-input-container> 

                <div style="text-align:center;">
                    <md-button class="md-raised social-default-button btn-login-registrar"  ng-click="RegisterUser()">Registrar</md-button>
                </div>            
                                            
        </div>
</div>
        <!--<label class="item item-input item-stacked-label">
                    <span class="input-label">Nombre Completo</span>
                    <input placeholder="" name="litros" highlight-color="balanced" type="text" ng-model="registro.fullname"></input>
            </label>
        <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input placeholder="" name="litros" highlight-color="balanced" type="email" ng-model="registro.mail"></input>
        </label>
        <label class="item item-input item-stacked-label">
                    <span class="input-label">Contraseña</span>
                    <input placeholder="" name="litros" highlight-color="balanced" type="password" ng-model="registro.pass"></input>
        </label>
        <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirmar Contraseña</span>
                    <input placeholder="" name="litros" highlight-color="balanced" type="password" ng-model="registro.passc"></input>
        </label>
        <ion-item  class="item-remove-animate">
        <label class="button-bar">
             <button class="button button-small button-border icon-left  button-assertive-900" ng-click="RegisterUser()">Registrar</button>
        </div>
        </label>
        <div class="padding">                    </div>-->
    </ion-content>
</ion-view>
