<!--View Information-->

<ion-view class="pane">    
    <ion-nav-back-button></ion-nav-back-button>
    <ion-view hide-nav-bar="false" disable-nav-bar="true">
 <ion-content>
    <form>
        <div style="text-align:right">                
          <img ng-src="img/rojo_azul.png" class="md-card-image" alt="Card image" src="img/rojo_azul.png">
         </div> 

           <div style="text-align:center;margin-top:5%;">                
                <md-button class="md-fab md-mini  home-circulo-rojo"></md-button>  
                <md-button class="md-fab md-mini home-circulo-gris"></md-button>   
            </div>

            <p class="tambien_login">En esta aplicación podrás encontrar las etiquetas de los vehículos nuevos, podrás notificar
            la falta de etiquetas en puntos de venta y comparar vehículos nuevos a través de su rendimiento energético.</p>  

    <div class="rectangle_home2">
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30 title home2-Modulos">Módulos:</div>
            </md-list-item>
            <md-divider class="md-default-theme"></md-divider>
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30">
                   <img src="img/icono-etiqueta_consumo_vehicular2.png" alt="etiqeta" style="margin-top:5%;">
                </div>
                <div class="col-70">
                    <p style="margin-left:5%;" class="title home2-Modulos">Etiquetas</p>
                     <p class="textos_home2">   
                        Aquí podrás encontrar las etiquetas con información de rendimiento energético y emisiones de
                        CO2 de los vehículos nuevos que estés cotizando
                      </p>
                </div>
            </md-list-item>
            <md-divider class="md-default-theme"></md-divider>
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30">
                   <img src="img/icono-comparador_consumo_vehicular2.png" alt="comparador" style="margin-top:5%;">
                </div>
                <div class="col-70">
                    <p style="margin-left:5%" class="home2-Modulos">Comparador</p>
                     <p class="textos_home2">   
                       Compara dos vehículos en cuanto a su eficiencia energética y gasto anual en consumo de energía.
                      </p>
                </div>
            </md-list-item>
            <md-divider class="md-default-theme"></md-divider>
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30">
                   <img src="img/icono-notifica_consumo_vehicular2.png" alt="notifica" style="margin-top:5%;">
                </div>
                <div class="col-70">
                    <p style="margin-left:5%" class="home2-Modulos">Notifica</p>                    
                    <p class="textos_home2">
                       Si encuentra alguna deficiencia respecto a las etiquetas en algún punto de venta, notifica de ello
                       al Ministerio de Energía.
                    </p>
                </div>
            </md-list-item>
            
     </div>
               <div style="text-align:center;margin-bottom:5%;margin-top:5%;">
                <md-button class="md-raised social-default-button btn-login-ingresar">Comencemos   ></md-button>
        </div>                                                                                  
    </form> 
    </ion-content>

</ion-view>
