<ion-view view-title="Login" align-title="left">
    <ion-content >
        <div class="rectangle_etiquetas">
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30">
                    <img style="width:70%; height:70%;" src="img/car_icon.png" alt="etiqeta">
                </div>
                <div class="col-70">
                    <p class="etiqueta_title">Consumo Vehicular</p>
                </div>
            </md-list-item>
        </div>           
        <!--<div class="hero flat">
            <div class="content">
                <h1t>Recuperar Contraseña</h1t>
            </div>
        </div>-->

<div class="rectangle_home2">
        <span class="home2-Modulos">Recuperar Contraseña</span>
        <div style="margin-top:3% !important;">
                <!-- <md-input-container>
                    <span class="inputs_reg_recu">Nombre de Usuario</span>
                    <div>
                        <input class="inputs_reg_recu" name="litros" ng-model="changepass.name">
                    </div>    
                </md-input-container> -->
                <md-input-container>
                    <div>
                    <span class="inputs_reg_recu">Email</span>
                        <input class="inputs_reg_recu" type="email" name="litros" ng-model="changepass.mail">
                    </div>    
                </md-input-container>                

                <div style="text-align:center;">
                    <span>Por favor indicar el email</span>
                    <md-button class="md-raised social-default-button btn-login-registrar"  ng-click="recuperarpass()">Recuperar Contraseña</md-button>
                </div>                
        </label>                
        <!-- <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombre de Usuario</span>
                    <input placeholder="" name="litros" highlight-color="balanced" type="text" ng-model="changepass.name"></input>
                  </label>
        <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input placeholder="" name="litros" highlight-color="balanced" type="email" ng-model="changepass.mail"></input>
                  </label>
       
        <label class="item item-input item-stacked-label">
                    <span class="input-label">Por favor indicar Nombre de Usuario de Email.</span>
                  </label>
        <ion-item  class="item-remove-animate">
        <label class="button-bar">
             <button class="button button-small button-border icon-left  button-assertive-900" ng-click="recuperarpass()"><h9>Recuperar</h9></button>
        </div>
        </label>
        <div class="padding">            
        </div>-->
    </ion-content>
</ion-view>
