<!--View Information-->
<!--View name : Fake Login-->
<ion-view>
<ion-view hide-nav-bar="true" disable-nav-bar="true">
<!--<ion-nav-buttons side="left"></ion-nav-buttons>
<md-toolbar class="md-primary toolbar-with-image color-toolbar" ></md-toolbar>-->

<!--login content section-->
<ion-content class="bg-white">
    <form>
        <!--fake login form section-->
        <div style="text-align:right">                
            <img ng-src="img/rojo_azul.png" class="md-card-image" alt="Card image" src="img/rojo_azul.png">
        </div> 
        <div style="text-align:center;">
            <img src="img/img1.png" alt="imgppal" class="imgppal">
        </div>
           <div class="rectangle_home2">
            </br>
            <md-input-container md-no-float="">
                <md-icon class="fa fa-user iconos_login"></md-icon>
                <input class="user-name input_login" placeholder="Email" ng-model="data.username">
            </md-input-container>

            <md-input-container md-no-float="">
                <md-icon class="fa fa-lock iconos_login"></md-icon>
                <input class="user-name input_login" type="password" placeholder="Contraseña" ng-model="data.userpass">
            </md-input-container>               
            <div style="text-align:center;">
                
                <md-button class="md-raised social-default-button btn-login-ingresar"  ng-click="loginUser()">Ingresar</md-button>
                <md-button class="md-raised social-default-button btn-login-registrar"  ng-click="registrar()">Registrar</md-button>
            </div>                                        
            <div class="recuperar_login" ng-click="changePassword()">Recuperar Contraseña</div>                    
        </div>
            <div class="toolbar-image-cover product footer imagen2-login" style="background-image: url('img/eficiencia.png');"></div>                 
            <div class="footer tambien_login">También puede ingresar con:</div>  

             <div>
                <md-button class="md-accent md-raised btn-google"  ng-click="loginGP()">
                <!--  <img src="img/google.png" />-->
                    <i class="fa fa-google-plus circle"></i>
                </md-button>
                <md-button class="md-accent md-raised btn-fb" ng-click="facebookSignIn()">
                <!--  <img src="img/face.png" />Loginfb()-->
                    <i class="fa fa-facebook circle"></i>
                </md-button>
             </div>    
        </form> <!--end fake login form section-->
    </ion-content><!--end login content section-->
</ion-view>