<!--View Information-->
<ion-view hide-nav-bar="true" disable-nav-bar="true" ng-init="init()" view-title="Consumo Vehícular" >    
    <ion-nav-back-button></ion-nav-back-button>
    
 

    
        <div class="rectangle_etiquetas">
            <md-list-item class="row md-no-proxy" role="listitem">
                <div class="col-30">
                    <img style="width:70%; height:70%;" src="img/car_icon.png" alt="etiqueta">
                </div>
                <div class="col-60">
                    <p class="etiqueta_title">Consumo Vehicular</p>
                </div>
                <div class="col-10">
                    <md-button ng-click="navigateTo('app.perfil')"> <md-icon  class="fa fa-user iconos_etiqueta"></md-icon></md-button>
                </div>
            </md-list-item>
        </div>

        <div class="rectangle_menu">
          <md-button class="boton_etiqueta_inactive"   ng-click="navigateTo('app.etiquetas')">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-etiqueta.png" alt="eti_icon"></md-icon>
            Etiquetas
          </md-button>
          <md-button class="boton_comparador_inactive"   ng-click="navigateTo('app.comparador')">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-comparador_consumo_vehicular2.png" alt="com_icon"></md-icon>
                Comparador
          </md-button>
          <md-button class="boton_notifica_active">
            <md-icon class="ic_menu"><img style="width:70%; height:70%;" src="img/icono-notifica_consumo_vehicular.png" alt="noti_icon"></md-icon>
                Notifica
          </md-button>
        </div>   
     <div id="map" data-tap-disabled="true" ></div>
    <ion-scroll scrollX="true">
           
    <div class="rectangle_home2">
                <p class="home2-Modulos">Búsqueda</p>
                <span class="tambien_login">Región:</span>
                    <div style="margin-left:5%;">
                        <md-select ng-model="region" placeholder="Seleccione..." ng-change = "SelectRegion(region)">
                            <md-option ng-value="region" ng-repeat="region in regions | orderBy:'name'">{{ region.name }}</md-option>
                        </md-select>                                       
                    </div>    
                <span class="tambien_login">Comuna:</span>
                <div style="margin-left:5%;">
                    <md-select ng-model="comuna" placeholder="Seleccione..." ng-change = "SelectComuna(comuna)">
                        <md-option ng-value="comuna" ng-repeat="comuna in comunas | orderBy:'name'">{{ comuna.name }}</md-option>
                    </md-select>                                       
                </div>    
                <span class="tambien_login">Dirección:</span>
                <div style="margin-left:4%;">
                     <input id="direccion" ng-model="denuncia.direccion" name="direccion" placeholder="Escriba aquí..." class="ancho_notifica" ng-blur="loadDireccion()"></input>
                </div>   
                <span class="tambien_login">Observación:</span>
                <div style="margin-left:4%;">
                    <input id="observa" name="observa" ng-model="denuncia.observacion" placeholder="Escriba aquí..." class="ancho_notifica"></input>
                </div>                   

            <div style="text-align:right;margin-top:5%;">
               <md-button class="md-raised social-default-button btn-login-ingresar"  ng-click="saveDenuncia(form)">Notificar</md-button>
            </div>                                                                                          
               
    </div>

        <div style="text-align:right">                
          <img ng-src="img/rojo_azul.png" class="md-card-image" alt="Card image" src="img/rojo_azul.png">
         </div> 
    </ion-scroll>

</ion-view>
