.Rectángulo_redondeado_3 {
  border-style: solid;
  border-width: 1px;
  
border-color: rgb(176, 176, 172);
  border-radius: 2px;
  position: absolute;
  left: 52px;
  top: 297px;
  
width: 532px;
  height: 51px;
  z-index: 33;
}

.Rectángulo_4 {
  background-color: rgb(163, 170, 181);
  position: absolute;
  left: 56px;
  
top: 373px;
  width: 62px;
  height: 45px;
  z-index: 39;
}

